
import { ObjectID } from 'mongodb'
import { IResolvers } from 'apollo-server'
import { authorize } from '../../helpers/authorize'
import gql from '../../helpers/noopTag'
import { Context } from '../../context'
import { User } from '../user/user.types'
import { UserService } from '../user/user.service'
import { PaginationRequest } from '../common/common.types'

import { <%= capitalName %>Service } from './<%= name %>.service'
import { <%= capitalName %>PubSub } from './<%= name %>.pubsub'
import { <%= capitalName %>, Create<%= capitalName %>Request, Update<%= capitalName %>Request } from './<%= name %>.types'

export const typeDefs = gql`
  extend type Query {
    """
    Used to retrieve all \`<%= capitalName %>\`s.
    """
    <%= name %>s (pagination: PaginationData): [<%= capitalName %>!]!

    """
    Used to retrieve a \`<%= capitalName %>\` by its \`_id\`.
    """
    <%= name %> (<%= name %>Id: ObjectID!): <%= capitalName %>!
  }

  extend type Mutation {
    """
    Create a \`<%= capitalName %>\`.
    """
    create<%= capitalName %> (content: String!): <%= capitalName %>!

    """
    Modify a \`<%= capitalName %>\`.
    """
    update<%= capitalName %> (<%= name %>Id: ObjectID!, data: Update<%= capitalName %>!): <%= capitalName %>!
  }

  extend type Subscription {
    """
    Get a \`<%= capitalName %>\` by its \`_id\` and listen for updates.
    """
    <%= name %> (<%= name %>Id: ObjectID!): <%= capitalName %>!
  }

  input Update<%= capitalName %> {
    content: String
  }

  type <%= capitalName %> implements Document {
    _id: ObjectID!
    content: String!

    """
    The \`User\` who created the \`<%= capitalName %>\`.
    """
    <%= name %>er: User!
  }
`

export const <%= name %>Resolvers = {
  Query: {
    async <%= name %>s (_source: any, { pagination }: PaginationRequest): Promise<<%= capitalName %>[]> {
      const <%= name %>s = await <%= capitalName %>Service.instance.findAll(pagination)
      return <%= name %>s
    },
    async <%= name %> (_source: any, { <%= name %>Id }: { <%= name %>Id: ObjectID }): Promise<<%= capitalName %> | null> {
      return <%= capitalName %>Service.instance.findById(<%= name %>Id)
    },
  },
  Mutation: {
    async create<%= capitalName %> (_source: any, args: Create<%= capitalName %>Request, ctx: Context): Promise<<%= capitalName %>> {
      const user = await authorize(ctx)
      return <%= capitalName %>Service.instance.create<%= capitalName %>(user._id!, args)
    },
    async update<%= capitalName %> (_source: any, args: Update<%= capitalName %>Request, ctx: Context): Promise<<%= capitalName %>> {
      const user = await authorize(ctx)
      const <%= name %> = await <%= capitalName %>Service.instance.update<%= capitalName %>(user._id!, args)
      <%= capitalName %>PubSub.instance.publishUpdate(<%= name %>)
      return <%= name %>
    },
  },
  Subscription: {
    async <%= name %> (_source: any, { <%= name %>Id }: { <%= name %>Id: ObjectID }): Promise<AsyncIterator<<%= capitalName %>>> {
      const <%= name %> = await <%= capitalName %>Service.instance.findById$(<%= name %>Id)
      return <%= capitalName %>PubSub.instance.listenForUpdates(<%= name %>)
    },
  },
  <%= capitalName %>: {
    async <%= name %>er (source: <%= capitalName %>): Promise<User> {
      return UserService.instance.findById$(source.userId)
    },
  },
}

export const resolvers: IResolvers<<%= capitalName %>, Context> = <%= name %>Resolvers
